
manifest {
    description = 'Small RNA sequencing analysis pipeline'
    author = 'Ben Pastore pastore.28@osu.edu'
}

workDir = "/fs/scratch/PCON0160/"
singularity.cacheDir = "${baseDir}/../../singularity"

process.shell = ['/bin/bash', '-euo', 'pipefail']

params {

    help = false
    base = baseDir

    // Options : File input and trimming
    format = 'fastq'
    trimming = true

    // Options : TrimGalore
    min_length = 15
    max_length = 40
    adapter = false

    // Options : Remove Contaminating RNA
    contaminant_fa = "/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.contaminating.fa"

    // Options : Annotation 
    genome = "/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.genomic.fa"
    junctions = "/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.genomic.transcripts.juncs.fa"
    bed = "/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.bed"

    // Options : Bowtie
    mismatch = 0
    multimap = 1000

    // Options : Counter 
    run_counter = true
    features = "${baseDir}/../../feature/features.txt"
    features_norm = false

    // Options : DGE 
    comparisons = false 

    // Options : Transcripts
    run_transcripts = true
    transcripts = "${baseDir}/../../transcripts/transcripts.txt"

    // Options : Tailor 
    tailor = true
}


profiles {

    standard {
        executor = 'local'
        singularity.enabled = true
        process.container = 'docker://benpasto/smrnaseq:latest'
    }
    
    cluster {
        
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://benpasto/smrnaseq:latest'
        cpus = 8
        memory = 9.GB

        process {

            withLabel:'local'{
                executor = 'local'
            }

            withLabel:'low' {
                executor = 'slurm'
                cpus = 12
                memory = 20.GB
                time = '1h'
                clusterOptions = "--account=PAS1473 --nodes=1 --ntasks-per-node=1 "
            }
        
            withLabel:'medium' {
                executor = 'slurm'
                cpus = 16
                memory = 64.GB
                time = '2h'
                clusterOptions = "--account=PAS1473 --nodes=1 --ntasks-per-node=1 "
            }
        
            withLabel:'high' {
                executor = 'slurm'
                cpus = 25
                memory = 64.GB
                time = '3h'
                clusterOptions = "--account=PAS1473 --nodes=1 --ntasks-per-node=1 "
            }
        }
    }
}
