// #####################################################################################
// #####################################################################################
// !!!!! YOU MUST CHANGE THE ACCOUNT NUMBER AT LINE 108 TO YOUR ACCOUNT OR NOTHING WILL WORK!!!!!!

manifest {

    description = 'Small RNA sequencing analysis pipeline'
    author = 'Ben Pastore pastore.28@osu.edu'
}

workDir = "/fs/scratch/PCON0160/ben/"

singularity.cacheDir = "${baseDir}/singularity"

process.shell = ['/bin/bash', '-euo', 'pipefail']


params {

    help = false
    base = baseDir

    // Options : File input and trimming
    format = 'fastq'
    trimming = true

    // Options : TrimGalore
    min_length = 15
    max_length = 50
    quality = 30
    adapter = false

    // Options : Artifacts filter
    filter_artifacts = true

    // Options : Trim polyA
    trim_polyA = false

    // Options : Hardtrimming
    hardtrim = false
    hardtrim_5p = 0
    hardtrim_3p = 0

    // Options : Trim UMI
    trim_umi = false
    umi_p5 = 0
    umi_p3 = 0

    // Options : Remove Contaminating RNA by aligning to fasta file with contaminants
    contaminant = false

    // Options : Remove contaminant RNAs using bedtools
    filter_bed = false
    bedtools_filt_intersect = ''

    // Options : spike in 
    spikein = false

    // Options : Normalization RPKM
    rpkm = false

    // Options : genome fasta files 
    genome = "/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.genomic.fa"
    
    // Options : genome alignment
    align_genome = true

    // Options : junction fasta files (optional)
    align_junction = false
    junctions = "/fs/ess/PCON0160/ben/genomes/c_elegans/WS279/c_elegans.PRJNA13758.WS279.genomic.transcripts.juncs.fa"

    // Options : Bowtie
    mismatch = 0
    multimap = 1000
    k_multimap = 1000 

    // Options : Counter 
    features = false
    bed = false
    features_norm = false

    // Options : DGE 
    dge = false

    // Options : Transcripts
    transcripts = false

    // Options : Tailor 
    tailor = false

    // Options subworkflow TRIMGALORE 
    fastq = false

    // Options tRNA pipeline
    tRNA_pipeline = false
    tRNA_reference = "/fs/ess/PCON0160/ben/genomes/c_elegans/tRNA_scan/tRNA_sequences_fixed_header.fasta"

}

profiles {

    cluster {
        
        cpus = 8
        memory = 9.GB

        process {

            hpc_account = "PCON0160"

            // #####################################################################################
            // #####################################################################################
            // !!!!! YOU MUST CHANGE THE ACCOUNT NUMBER HERE TO YOUR ACCOUNT OR NOTHING WILL WORK!!!!!!
            
            clusterOptions = "--account=$hpc_account --ntasks=1 "
            
            // #####################################################################################
            // #####################################################################################

            withLabel:'local'{
                executor = 'local'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/smrnaseq:latest'
            }

            withLabel:'low' {
                executor = 'slurm'
                cpus = 12
                memory = 20.GB
                time = '1h'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/smrnaseq:latest'
            }
        
            withLabel:'medium' {
                executor = 'slurm'
                cpus = 16
                memory = 64.GB
                time = '2h'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/smrnaseq:latest'
            }
        
            withLabel:'high' {
                executor = 'slurm'
                cpus = 25
                memory = 64.GB
                time = '3h'
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://benpasto/smrnaseq:latest'
            }

            withLabel:'ucsc' {
                executor = 'slurm'
                cpus = 8
                memory = 16.GB
                time = 10.m
                singularity.enabled = true
                singularity.autoMounts = true
                container = 'docker://genomicpariscentre/kentutils:302.1.0'
            }
        }
    }
}